
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/apps/web/public/bundles/
/apps/web/var/
/vendor/
###< symfony/framework-bundle ###
